.field {
    display: grid;
    justify-content: center;
    grid-column-gap: 5px;
    grid-row-gap: 3px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #aaa;
}

.icon {
    margin: 13px;
    font-size: 25px;
}

.bomb-num {
    text-align: center;
    font-family: sans-serif;
    color: cadetblue;
    font-size: 16px;
}

.game-over-title {
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}

.default-text {
    text-align: center;
    font-family: sans-serif;
    color: dimgray;
}

.restart-btn {
    display: block;
    width: 185px;
    margin: 20px auto;
    color: darkslategrey;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    padding: 7px 10px;
    font-family: sans-serif;
    font-size: 16px;
}

.select-size-input {
    display: block;
    margin: 20px auto;
    color: darkslategrey;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    padding: 7px 10px;
    font-family: sans-serif;
    font-size: 16px;
}
