table {
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid #555;
    background-color: #eee;
}

.active {
    background-color: #222;
}

.invert td {
    background-color: #222;
}

.invert .active {
    background-color: #eee;
}