.default-btn {
    display: block;
    margin: 20px auto;
}

.default-input {
    display: block;
    margin: 20px auto;
}

.circle {
    display: inline-block;
    background: darkorchid;
}

.circlesWrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10, 20px);
    justify-content: center;
}