.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.arrow {
    margin: 0 20px;
    font-size: 50px;
    color: #000;
}

.arrow:hover {
    color: grey;
}

.slider-items-wrapper {
    position: relative;
    width: 640px;
    height: 426px;
    overflow: hidden;
}

.slider-item {
    position: absolute;
    transition: left 0.4s ease-in;
}
