.image-to-show {
    width: 400px;
    height: 400px;
    transition: opacity 0.5s;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    display: block;
    margin: 20px auto;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
}

.timer-display {
    margin: 10px auto;
    width: 150px;
    text-align: center;
    padding: 5px 0;
    font-family: sans-serif;
    font-size: 20px;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 5px;
}