.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    display: block;
    margin: 20px auto;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}